{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container bg-dark text-white">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-white">My Profile</h2>
            <br>
            <a href="{% url 'update_profile' %}">Settings</a>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
        </div>
    </div>
    <div class="col-12 col-lg-6">

        <p class="text-muted text-white">Order History</p>
        <div class="order-history table-responsive text-white">
            <table class="table table-sm table-borderless text-white">
                <thead>
                    <tr>
                        <th></th>
                        <th>Membership Number</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                         
                        </td>
                        <td>
                            <p>
                                {{ order.membership_number|truncatechars:14 }}
                            </p>
                        </td>
                        <td>{{ order.start_date|truncatechars:12 }}</td>
                        <td><div id="result"></div></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-12 col-lg-6"></div>
</div>

<script>
    var date = new Date();
    date.setDate(date.getDate() + 365);
    document.getElementById("result").innerHTML = date.toISOString().split('T')[0];
    </script>
{% endblock %}

