{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bg-white">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Membership Checkout</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 text-muted">Order</p>
                    </div>

                </div>
               
                <div class="row text-black text-right">
                    <div class="col-7 offset-2">
                        <p>Membership :</p>
                        
                    </div>
                    <div class="col-3">
                        <p class="my-0"><strong>{{ product.name }}</strong></p>
                    </div>
                    <div class="col-7 offset-2">
                        <p class="my-0">Grand Total:</p> 
                    </div>
                    <div class="col-3">
                        <p class="my-0"><strong>${{ product.price | floatformat:2 }}</strong></p>
                    </div>
                </div>
            
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please fill out the form below to complite your membership</p>
                <!--Form to create a membership and payment-->
                <form action="{% url 'checkout' product.id %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5"></fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <div class="mb-3" id="card-element"></div>
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>
                    <!--Button to submit the payment-->
                    <button id="submit-button" class="">
                        <span class="font-weight-bold">Complete Membership</span>
                    </button>
                    <!--Text info to the user-->
                    <p class="small text-danger my-0">
                        <span>Your card will be charged <strong>${{ product.price | floatformat:2 }}</strong> </span>
                    </p>
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{stripe_public_key|json_script:"id_stripe_public_key"}}
    {{client_secret|json_script:"id_client_secret"}}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
