{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container bg-white">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You for booking your class. </h2>
                <h2 class="logo-font mb-4">You will be contacted from your coach for a time and date. </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg">
                <button>
                    <a href="{% url 'home' %}">Home</a>
                </button>
            </div>
        </div>
        <br>
    </div>
{% endblock %}

